<footer class="row row-cols-1 row-cols-md-2 row-cols-lg-5 py-5">
  <div class="col">
      <div style="margin-left: 50px;">
          <h2 style="color: white; ">Contáctanos</h2>
          <ul class="nav flex-column" style="color: white;">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: white; font-weight: bold;">Telefono</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: white;">+54 9 11 4991-2051</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: white; font-weight: bold;">Mail</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: white;">ydjckiconstrucciones&#64;gmail.com</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: white;">arqcarrarojorge&#64;gmail.com</a></li>
          </ul>
      </div>
  </div>

  <div class="col">
  </div>

  <div class="col">
  </div>

  <div class="col">
  </div>

  <div class="col">
    <div style="margin-left: 50px;">
      <h2>Pedi tu cotización!</h2>
      <ul class="nav flex-column">
        <img src="../../../assets/img/wwptest.png"  style="height: 150px; width: 150px;">
      </ul>
    </div>
  </div>
</footer>
