<div id="divTotal">
    <div class="header">
        <img src="../../../assets/img/logotest.png" style="margin: 30px;">
    </div> 
    
    <div class = "contenido">

        <h1> OBRAS COMERCIALES </h1>

        <div class = "div-deco" style="position: absolute; width: 100%; top: 300px;">
            <div class="deco-div" style="z-index: 1000; left: 80%;"></div>
          </div>

        <div class="row" style="position: relative;">
            <div class="col-lg-7 col-xs-12 columna">
               <!-- <img src="../../../assets/carpetaalem/f.png" class = "img-fluid"> -->
                    <div id="carousel1" class="carousel slide carousel-custom">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/k2.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/k3.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/k4.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
            </div>

            <div class="col-lg-5 col-xs-12 columna">
        
                <h5>Remodel Walmart - San Luis Capital</h5>
                <p>Construcción civil - durlock y pintura - pisos interiores - accesos - parquización - estructuras
                    y carpinterías metálicas - Mov. de suelos.
                    <br>
                    Sup. Total 15.000 m2
                </p>
                <p>
                    Plazo de obra: 8 meses                  
                </p>
                <p>
                    Comitente: WalMart Argentina Srl.
                </p>
            
            </div>

        </div>

    </div>

         <div class="page2">

            <div class="row" style="position: relative;">
                <div class="col-lg-6 col-xs-12 order-2 order-lg-1 columna">
            
                    <h5>Remodel Punto Mayorista - Av Calchaquí - Quilmes</h5>
                    <p>Remodelación obra civil - durlock y pintura -
                        pisos interiores - accesos- parquización - estructuras Y carpinterías metálicas - Mov. de
                        suelos.
                        <br>
                        Sup. Total 14.000 m2
                    </p>
                    <p>
                        Plazo obra: 6 meses                  
                    </p>
                    <p>
                        Comitente: WalMart Argentina Srl.
                    </p>
                
                </div>
                <div class="col-lg-6 col-xs-12 order-1 order-lg-2 columna" style="font-size: 20px;">
                    <!-- <img src="../../../assets/carpetaalem/e.png"> -->
                    <div id="carousel2" class="carousel slide carousel-custom">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e.png" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e1.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e3.png" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
    
    
            </div>

        </div>

 

        <div class="page3">

            <div class = "div-deco" style="position: absolute; width: 100%; top: 60px;">
                <div class="deco-div" style="z-index: 1000; left: 80%;"></div>
              </div>

            <div class="row" style="position: relative;">
                <div class="col-lg-6 col-xs-12 columna" style="font-size: 20px;">
                   <!-- <img src="../../../assets/img/obrascomerciales3.PNG"> -->
                    <div id="carousel3" class="carousel slide carousel-custom">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e.png" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e1.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e3.png" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div> 
                </div>
    
                <div class="col-lg-6 col-xs-12 columna">
            
                    <h5>Coppel - Once - Av. Pueyrredón - CABA</h5>
                    <p>
                        Remodel completo. 
                    </p>
                    <p>
                        Plazo de obra: 120 días
                    </p>
                    <p>
                        Comitente: Coppel Argentina S.A
                    </p>
                
                </div>
    
            </div>

        </div>


    <div class="page4">


        <div class = "div-deco" style="position: absolute; width: 100%; top: 100px;">
            <div class="deco-div" style="z-index: 1000; right: 80%;"></div>
          </div>

        <div class="row" style="position: relative; justify-content: center;">
            <div class="col-lg-6 col-xs-12 order-2 order-lg-1 columna">
        
                <h5>Chango Mas - Lanus -
                    Buenos Aires</h5>
                <p>Construcción civil - durlock y pintura - pisos
                    interiores- accesos - parquización estructuras
                    y carpinterias metálicas - Playa de estacionamiento de concreto asfáltico
                    Mov. De suelos. - demarcación de playa.
                    <br>
                    Superficie total 25000 m2
                    
                </p>
                <p>
                    Plazo de obra: 150 días                  
                </p>
                <p>
                    Comitente: WalMart Argentina Srl.
                </p>
            
            </div>
            <div class="col-lg-6 col-xs-12 order-1 order-lg-2 columna" style="font-size: 20px;">
                <img src="../../../assets/carpetaalem/IMG20.jpg">
            </div>

        </div>

        <div class = "div-deco" style="position: absolute; width: 100%; top: 800px;">
            <div class="deco-div" style="z-index: 1000; left: 80%;"></div>
          </div>

    </div>




</div>