<div id="divTotal">
    <div class="header">
        <img src="../../../assets/img/logotest.png" style="margin: 30px;">
    </div> 


    <div class="page1">

        <h1> OBRAS PARTICULARES </h1>

        <div class = "div-deco" style="position: absolute; width: 100%; top: 300px;">
            <div class="deco-div" style="z-index: 1000; left: 80%;"></div>
            </div>

        <div class="row" style="position: relative; width: 100%; z-index: 1">
            
            <div class="col-lg-6 col-xs-12 columna">
                <!-- <img src= "../../../assets/carpetaalem/e2.jpg"> -->
                <div id="carousel1" class="carousel slide carousel-custom">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                        <img src="../../../../assets/carpetaalem/e2.jpg" class="d-block" style="width: 100%;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="">
                        <img src="../../../../assets/carpetaalem/e2.jpg" class="d-block" style="width: 100%;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="">
                        <img src="../../../../assets/carpetaalem/e2.jpg" class="d-block" style="width: 100%;">
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div> 
            </div>
                
            <div class="col-lg-6 col-xs-12 columna">
                <h5>Vivienda unifamiliar - Bernal</h5>
                <p>
                    Construcción de vivienda unifamiliar.
                    <br>
                    Llave en mano           
                </p>
                <p>
                    Plazo de Obra : 8 meses
                </p>
            
            </div>

        </div>

    </div>

    <div class="page2">

        <div class="row" style="position: absolute; width: 100%; z-index: 1;">
            
            <div class="col-lg-6 col-xs-12 order-2 order-lg-1 columna">
                <h5>Edificio para geriátrico
                    Cramer 3216 Núñez -
                    Capital Federal</h5>
                <p>
                    Obra llave en mano con ingeniería constructiva incluida - Demoliciones - Estructuras
                    - Pisos técnicos - Instalación eléctrica - Aire
                    Acondicionado - Instalación sanitaria
                    y gas - Carpinterías y tabaquería modular -
                    Pintura - Mobiliario - Albañilería en
                    general - Ejecución de ingeniería constructiva
                    - Mudanza - Marmolería - Datos y
                    CCTV - Bunker de seguridad - Tabaquería de
                    placa de yeso y cielorrasos modulares
                    - etc..
                    <br>
                    Superficie cubierta 1400 m2         
                </p>
                <p>
                    Plazo de Obra : 9 meses
                    <br>
                    Comitente : ESTUDIO SHULDMAN Y ASOCIADOS
                </p>
            
            </div>

            <div class="col-lg-6 col-xs-12 order-1 order-lg-2 columna">
                <!-- <img src= "../../../assets/carpetaalem/kk.jpg"> -->
                <div id="carousel2" class="carousel slide carousel-custom">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                        <img src="../../../../assets/carpetaalem/kk.jpg" class="d-block" style="width: 100%;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="">
                        <img src="../../../../assets/carpetaalem/kk.jpg" class="d-block" style="width: 100%;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="">
                        <img src="../../../../assets/carpetaalem/kk.jpg" class="d-block" style="width: 100%;">
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div> 
            </div>
                    
        </div>

        <div class = "div-deco" style="position: absolute; width: 100%; top: 850px;">
            <div class="deco-div" style="z-index: 1000; right: 80%;"></div>
          </div>

    </div>

</div>