<div id="divTotal">
    <div class="header">
        <img src="../../../assets/img/logotest.png" style="margin: 30px;">
    </div> 
    


    <div class="page1">

        <h1> OBRAS INDUSTRIALES </h1>


        <div class = "div-deco" style="position: absolute; width: 100%; top: 190px;">
            <div class="deco-div" style="z-index: 1000; left: 80%;"></div>
          </div>

        <div class="row" style="position: relative; z-index: 1;">
            <div class="col-lg-6 col-xs-12 columna">
                <!-- <img src="../../../assets/carpetaalem/k2.jpg"> -->
                <div style="position: relative;" class="div-carousel">
                    <div id="carousel1" class="carousel slide carousel-custom">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/k2.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/k3.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/k4.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xs-12 columna">
        
                <h5>Air Liquide - Campana</h5>
                <p>Construccion de complejo industrial.
                </p>
                <p>
                    El proyecto contempla la ejecución de una
                    planta de hidrógeno única en el país sobre un
                    terreno de 8 hectáreas linderas con la destilería de la petrolera ESSO. Ya está en marcha la
                    primera etapa valuada en $7.500.000.                
                </p>

            </div>

        </div>


    </div>


    <div class="page2">

        <div class = "div-deco" style="position: absolute; width: 100%; top: 200px;">
            <div class="deco-div" style="z-index: 1000; right: 80%;"></div>
          </div>

        <div class="row" style="position: relative; justify-content: center;">
            <div class="col-lg-6 col-xs-12 order-2 order-lg-1 columna">
        
                <h5>Planta SIDERAR- Air Liquide -
                    Sector ASU 6 Y CETE - Ramallo</h5>
                <p>Hormigon armado, canalizacion. Construccion de
                    Camara Electrica y desague pluvial. Bases de equipos y Grouting.
                </p>
                <p>
                    Plazo de Obra : 18 meses                  
                </p>
                <p>
                    Comitente : AIR LIQUIDE ARGENTINA S.A
                </p>
            
            </div>
            <div class="col-lg-6 col-xs-12 order-1 order-lg-2 columna">
                <!-- <img src= "../../../assets/carpetaalem/g1.jpg"> -->
                <div style="position: relative;" class="div-carousel">
                    <div id="carousel2" class="carousel slide carousel-custom">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/g1.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/g4.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/g3.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="page3">

        <div class="row" style="position: relative;">
            <div class="col-lg-6 col-xs-12 columna" style="font-size: 20px;">
                <!-- <img src="../../../assets/carpetaalem/e1.jpg"> -->
                <div style="position: relative;" class="div-carousel">
                    <div id="carousel3" class="carousel slide carousel-custom">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e1.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e2.jpg" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="">
                            <img src="../../../../assets/carpetaalem/e4.png" class="d-block" style="width: 100%;">
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-xs-12 columna">
        
                <h5>Refineria del centro - Valentin
                    Alsina</h5>
                <p>
                    Construccion de complejo industrial.
                </p>
            
            </div>

        </div>

        <div class = "div-deco" style="position: absolute; width: 100%; top: 700px;">
            <div class="deco-div" style="z-index: 1000; left: 80%;"></div>
          </div>

          <div class="container d-flex justify-content-center align-items-center" style="position: absolute; height: 10vh">
            <div class="row2 justify-content-center">
              <div class="col-auto">
                <button class="boton" (click)="toggleTexto()" >OTROS</button>
              </div>
            </div>
          </div>

    </div>

    <div>   
        <div #contenido2 style="position: relative;" [ngClass]="{'visible': mostrarTexto, 'oculto': !mostrarTexto}" class="contenido2">
          <div class = "div-deco" style="position: absolute; width: 100%; top: 40px;">
            <div class="deco-div" style="z-index: 1000; left: -40px;"></div>
          </div>

          <div class = "div-deco" style="position: absolute; width: 100%; top: 180px;">
            <div class="deco-div" style="z-index: 1000; left: 80%;"></div>
          </div>


          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
              <div class="otros-protectos">
                <div class="container2">
                  <ul style="list-style-type: none;">
                    <li>AIR LIQUIDE – Bahía Blanca</li>
                    <li>Estructuras Metálicas y de HªAª - Tabiqueria exterior termo paneles de aluminio</li>
                    <li>- Albañilería -Instalaciones Sanitarias – Eléctricas - Aire Acondicionado –</li>
                    <li>Durlock</li>
                    <li>SHELL CAPSA – Av. Vergara y Bradley – Villa Tesei – Buenos Aires</li>
                    <li>Estructuras metálicas y de HªAª - Albañilería -Instalaciones Sanitarias–Eléctricas</li>
                    <li>Aire Acondicionado – Tabaquerías Exteriores en sistema IPS ( Durlock – Poliestileno</li>
                    <li>expandido y Finish Coat ) – Pavimentos ferro cementados – Instalación</li>
                    <li>de</li>
                    <li>tanques de combustible.</li>
                    <li>A.C.A – Automóvil Club Argentino – Once</li>
                    <li>Techado de 4to piso ( anterior azotea ) 3500 m2 – Pavimento asfáltico</li>
                    <li>– Pintura</li>
                    <li>total de edificio – Instalación de incendio – Eléctrica – Sanitaria</li>
                    <li>YPF S.A YATAY Y DÍAZ VELEZ- CAPITAL FEDERAL</li>
                    <li> Estructura de HªAª de caja edificada y Bunker de GNC- est. Metálica e imagen</li>
                    <li>corporativa en Alucobond – Albañilería – Instalaciones Sanitarias- Eléctricas- Aire Acondicionado </li>
                    <li>YPF S.A – Ovidio Lagos y 3 de Febrero – Rosario</li>
                    <li>Estructuras de HªAª - Albañilería - Instalaciones Sanitarias – Eléctricas -</li>
                    <li>Aire Acondicionado</li>
                    <li>– Durlock – Instalación de tanques de combustible con cañería flexible</li>
                    <li>doble pared y sistema de detección de perdidas de combustible. Est. Metálica</li>
                    <li>e Imagen .</li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="columna2 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center" style="position: relative;">
            <div class="otros-protectos">
              <div class="container2" style="font-size: 18px;">
                <ul style="list-style-type: none;">                   
                  <li>SHELL CAPSA – Estación de Servicio Ruta 12 y 198 – Zarate</li>
                  <li>Colocación de tanques de deposito de gas envasado de gran volumen</li>
                  <li>para</li>
                  <li>alimentar entre otros el grupo generador de energía eléctrica. Plateas de</li>
                  <li>HªAª -</li>
                  <li>Tendidos de cañerías de gas para alimentar generador y alimentación al</li>
                  <li>sector</li>
                  <li>de Parrilla – Cubierta metálica de deposito.</li>
                  <li>SHELL CAPSA – Estación de Servicio Ruta 12 y 198 – Zarate</li>
                  <li>Construcción de Parrilla completa incluyendo equipamiento fijo, cubierta,</li>
                  <li>pisos, instalaciones eléctricas, aire acondicionado, sanitarias, etc..</li>
                  <li>SHELL CAPSA – Estación de Servicio Av. Vergara y Bradley - Hurlingam</li>
                  <li>Movimiento de suelos – Pavimentos – Colocación de tanques de combustible e</li>
                  <li>instalación – Relleno y compactación – Instalación eléctrica – Aire Acondicionado</li>
                  <li>– Instalación sanitaria – Montaje de sistema de incendio con bombas</li>
                  <li>jockey</li>
                  <li>e hidrantes.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class = "div-deco" style="position: absolute; width: 100%; top: 1000px;">
            <div class="deco-div" style="z-index: 1000; left: -40px;"></div>
          </div>
      </div>
      
    </div>


</div>